<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5 Layout</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <form>
            <label for="search">Search</label>
            <input type="search" id="search">
            <button type="submit">Submit</button>
        </form>
    </header>
    <main>
        <h1 style="text-align:center">Dogs 101: <span style="color:red;">PUG</span></h1>

        <a href="https://en.wikipedia.org/wiki/Pug" target="_blank">Pug wikipedia</a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Sad-pug.jpg/200px-Sad-pug.jpg" alt="Image of a pug">
        <p>
            The Pug is a breed of dog originally from China, with physically distinctive features of a wrinkly,
            short-muzzled face
            and curled tail. The breed has a fine, glossy coat that comes in a variety of colors, most often light brown
            (fawn) or
            black, and a compact, square body with well developed and thick muscles all over the body.</p>
        <p>
            Pugs were brought from China to Europe in the sixteenth century and were popularized in Western Europe by
            the House of
            Orange of the Netherlands, and the House of Stuart.[2] In the United Kingdom, in the nineteenth century,
            Queen Victoria
            developed a passion for pugs which she passed on to other members of the Royal Family.
        </p>

        <section id="description-section">
            <h2>Description</h2>

            <article>
                <h3>Physical characteristics</h3>
                <p>While the pugs that are depicted in eighteenth century prints tend to be long and lean,[2] modern
                    breed preferences are
                    for a square cobby body, a compact form, a deep chest, and well-developed muscle.[4] Their smooth
                    and glossy coats can
                    be fawn, apricot fawn, silver fawn, or black.[4][5] The markings are clearly defined and there is a
                    trace of a black
                    line extending from the occiput to the tail.[4] The tail normally curls tightly over the hip.[2]
                </p>
                <p>
                    Pugs have two distinct shapes for their ears, "rose" and "button". "Rose" ears are smaller than the
                    standard style of
                    "button" ears, and are folded with the front edge against the side of the head. Breeding preference
                    goes to "button"
                    style ears.[6]
                </p>

                <figure>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Pug_in_Tallinn.JPG/220px-Pug_in_Tallinn.JPG">
                    <figcaption>Dog smiling at its owner</figcaption>
                </figure>


            </article>

            <article>
                <h3>Temperament</h3>
                <p>This breed is often described by the Latin phrase multum in parvo, or "much in little" or "a lot of
                    dog in a small
                    space", alluding to the pug's remarkable and charming personality, despite its small size.[1] Pugs
                    are strong-willed but
                    rarely aggressive, and are suitable for families with children. The majority of the breed is very
                    fond of children and
                    sturdy enough to properly play with them.
                </p>
                <div style="background-color: aqua;">
                    <p>
                        This breed is often described by the Latin phrase multum in parvo, or "much in little" or "a lot of
                        dog in a small
                        space", alluding to the pug's remarkable and charming personality, despite its small size.[1] Pugs
                        are strong-willed but
                        rarely aggressive, and are suitable for families with children. The majority of the breed is very
                        fond of children and
                        sturdy enough to properly play with them.
                    </p>
                </div>
            </article>

        </section>
        <section id="history-section">
            <h2>History</h2>

            <article>
                <h3>Chinese origns</h3>
                <p>Pugs were brought from China to Europe in the sixteenth century.[2] Similar dogs were popular in the
                    Imperial court
                    during the Song Dynasty.[13]
                    In ancient times, pugs were bred to be companions for ruling families in China. The pet pugs were
                    highly valued by
                    Chinese Emperors, and the royal dogs were kept in luxury and guarded by soldiers.
                </p>
                <p>
                    Pugs were popular at European courts, and reportedly became the official dog of the House of Orange
                    in 1572 after a pug
                    named Pompey saved the life of the Prince of Orange by alerting him to the approach of assassins.[1]
                    A pug travelled with William III and Mary II when they left the Netherlands to accept the throne of
                    England in 1688.[2]
                    During this period, the pug may have been bred with the old type King Charles spaniel, giving the
                    modern King Charles
                    Spaniel its pug-like characteristics.[14]
                    The breed eventually became popular in other European countries as well. Pugs were painted by Goya
                    in Spain, and in
                    Italy they rode up front on private carriages, dressed in jackets and pantaloons that matched those
                    of the coachman.
                    They were used by the military to track animals and people, and were also employed as guard dogs.[2]
                </p>
            </article>
        </section>
    </main>
    <aside>
        <ul>
            <li><a href="#description-section">Dscription</a></li>
            <li><a href="#history-section">History</a></li>
        </ul>
    </aside>
    <footer>
        <p>Some cypyright info &copy;</p>
    </footer>
</body>
</html>