<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
  </head>
  <body>
    <header>
      <h1>Layout</h1>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Our Team</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Contact</a></li>
        </ul>

        <form action="" method="">
          <label for="search">Search: </label>
          <div>
            <input
              type="search"
              name="search"
              placeholder="Search anything"
              id="search"
            />
          </div>

          <input type="submit" value="Go!" />
        </form>
      </nav>
    </header>
    <main>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et.
          Voluptates nulla non, asperiores inventore mollitia accusamus, libero
          nisi blanditiis ab dicta ad officia doloremque iste dolore, laborum
          quibusdam officiis. Molestias, fuga repudiandae deleniti veniam cum
          suscipit ut nobis fugiat ad magnam? Eligendi maxime facilis, mollitia
          necessitatibus nisi voluptatum aut neque omnis ipsum asperiores quidem
          suscipit <span>inventore reprehenderit</span>. Tempora, quaerat. Eius
          similique, at, ea praesentium veniam quo vel magni dolore quia, fugit
          labore? Laborum accusamus assumenda rem hic voluptate aliquam atque
          architecto quo sunt magni amet commodi magnam, quos tenetur! Sapiente,
          architecto quod nisi minus quae impedit nostrum obcaecati, ratione
          magni et ipsum voluptas hic maiores beatae. Expedita nobis repellendus
          explicabo tempora quaerat culpa enim, impedit facilis eius id
          molestias? Culpa soluta cupiditate autem sit? Nesciunt commodi
          accusamus totam suscipit, rerum possimus mollitia laborum, numquam
          nobis neque ipsa quibusdam nam saepe placeat aut? Quasi cumque aliquam
          ad labore similique laborum.
        </p>
        <p>Test</p>
      </div>
      <div>
        <ul>
          <li>Apples</li>
          <li>Oranges</li>
          <li>Lemons</li>
        </ul>
      </div>
    </main>
    <footer>
      <small>Made by Borche Borisovski for Sedc-G4</small>
    </footer>
  </body>
</html>
