<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
</head>
<body>
    <header>
        <h1>Coffee Shop</h1>
        <nav>
            <ul>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Welcome to Cafe Aroma</h2>
            <p>Discover the finest cofee blends at Cafe Aroma.</p>
            <a href="menu.html">View Menu</a>
        </section>
        <section>
            <h2>About Cafe Aroma</h2>
            <p>At Cafe Aroma, we take pride in our coffee heritage. Our coffee feans are carefully selected.</p>
        </section>
        <article>
            <h2>History about coffee</h2>
            <p>As it's thought that coffee originated in Ethiopia, it's also believed it made its way north, across the red sea into Yemen in the 15th Century. It then started to be grown here in the Yemeni district of Arabia, and by the 16th century it was known in Persia, Egypt, Syria, and Turkey.</p>
        </article>
        <section>
            <h2>Our coffee selection</h2>
        </section>
    </main>

    <aside>
        <h2>Coffee drinks</h2>
        <ul>
            <li><a href="">Espresso</a></li>
            <li><a href="">Capuccino</a></li>
            <li><a href="">Latte Macchiato</a></li>
            <li><a href="">Freddo Espresso</a></li>
        </ul>
    </aside>
    <div>
        <h3>Opening Hours</h3>
        <ul>
            <li>Monday - Friday: <span style="color: coral; font-size: larger;">8 AM - 12 PM</span></li>
            <li>Saturday: <span>8 AM - 1 AM</span></li>
            <li>Sunday: <span>Non-working day</span></li>
        </ul>
    </div>
    <footer>
        <h4> &copy; 2023 Cafe Aroma | All Right Reserved</h4>
        <p>Contact info: infoaddres</p>
        <p>Contact phone: 123456789</p>

    </footer>
</body>
</html>