<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/layout.css">
    <title>Layout</title>
</head>
<body>
    <!--Left Sidebar-->
    <aside class="left-sidebar">
        <!--Navigation-->
        <nav>
            <div class="logo">LOGO</div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Browse event</a></li>
                <li><a href="#">Saved events</a></li>
            </ul>
        </nav>
        <section class="account">
            <img src="https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper.png" alt="avatar image">
            <p>
                <span>Hakeem Ashton</span>
                <span>test@email.com</span>
            </p>
        </section>
    </aside>

    <!--Main Content-->
    <main>
        <!--Header-->
        <header>
            <!--Section links-->
            <section class="links">
                <a href="#">Back to events</a>
                <a href="#">Save events</a>
                <button type="submit">Ask a question</button>
            </section>

            <!--Section heading-->
            <section class="heading">
                <h1>Town Hall AMA w62</h1>
                <span>Private event</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum blanditiis adipisci, sed quaerat repellendus animi deleniti repudiandae obcaecati vero necessitatibus explicabo nesciunt architecto corporis eos quidem vel impedit ipsa recusandae!</p>
            </section>

            <!--Section question-->
            <section class="question"></section>

            <!--Footer-->
            <footer></footer>
        </header>
    </main>

    <!--Right Sidebar-->
    <aside class="right-sidebar">
        <header>
            <h3>Event Information</h3>
            <hr>
            <p>
                <span>Date</span>
                <span>Wednesday, August 25th, 2024 11:30AM</span>
            </p>
            <button type="submit">Add to calendar</button>
        </header>

        <section class="participants">
            <p>Participants</p>
            <div class="participant">
                <img src="https://w7.pngwing.com/pngs/193/660/png-transparent-computer-icons-woman-avatar-avatar-girl.png" alt="avatar photo">
                <p>
                    <span>Dias</span>
                    <span>VP of Storefront Editor</span>
                </p>
            </div>
            <div class="participant">
                <img src="https://w7.pngwing.com/pngs/193/660/png-transparent-computer-icons-woman-avatar-avatar-girl.png" alt="avatar photo">
                <p>
                    <span>Ramos</span>
                    <span>VP of Storefront Editor</span>
                </p>
            </div>
            <div class="participant">
                <img src="https://w7.pngwing.com/pngs/193/660/png-transparent-computer-icons-woman-avatar-avatar-girl.png" alt="avatar photo">
                <p>
                    <span>Ronald</span>
                    <span>VP of Storefront Editor</span>
                </p>
            </div>
        </section>
    </aside>
</body>
</html>