.box {
    width: 95px;
    height: 95px;
    background-color: green;
    color: #fff;
    text-align: center;
    line-height: 95px;
    border-radius: 5px;

    /* TRANSITION */

    /* mandatory properties */
    transition-property: background-color, border-radius;
    transition-duration: 3s;

    /* optional properties */
    transition-timing-function: ease-in;
    transition-delay: 1s;

    /* shorthand writing & webkits */
    -webkit-transition: all 2s ease-in-out 1s;
    -moz-transition: all 2s ease-in-out 1s;
    -ms-transition: all 2s ease-in-out 1s;
    transition: all 2s ease-in-out 1s;
}

.box:hover {
    background-color: red;
    border-radius: 50px;

    /* transform property */
    transform: rotate(-360deg);
}


/* ANIMATION */

@keyframes slide {
    0% {
        top: 0px;
        left: 0px;
    }
    50% {
        top: 250px;
        left: 250px;
        background: red;
    }
    100% {
        top: 0px;
        left: 450px;
    }
    
}

.stage {
    width: 500px; 
    height: 300px;
    margin: 0 auto;
    position: relative;
    background-color: lightgrey;
}

.ball {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: rebeccapurple;
    position: absolute;

    /* Animation */
    animation-name: slide;
    animation-duration: 5s;

    /* optional properties */
    animation-timing-function: ease-out;
    animation-delay: 1s;

    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-fill-mode: forwards;

    /* shorthand writing */
    animation: slide 5s ease-out 1s infinite alternate forwards;
}

.stage:active .ball{
    animation-play-state: paused;
}