* {
  /* Used for CSS debugging */
  /* border: 1px solid black;  */
  
  /* Use border-box as default for all elements */
  box-sizing: border-box;
  /* Used to reset default margin & padding on all elements */
  margin: 0;
  padding: 0;
}

h1 {
  /* BOX-SIZING */
  box-sizing: border-box; 

  width: 300px;
  height: 100px;

  /* ========= */
  /* BORDERS */

  /* border width */
  border-top-width: 2px;
  border-right-width: 3px;
  border-bottom-width: 4px;
  border-left-width: 5px;

  /* Shorthand for border width */
  /* border-width: 5px; */

  /* border color */
  border-top-color: brown;
  border-right-color: red;
  border-bottom-color: blue;
  border-left-color: yellow;

  /* Shorthand for border-color */
  /* border-color: red; */

  /* border style */
  border-top-style: solid;
  border-right-style: dashed;
  border-bottom-style: dotted;
  border-left-style: double;

  /* Shorthand for border style */
  /* border-style: solid;  */

  /* Shorthand for everything above */
  border: 2px solid green;

  /* =============== */
  /* RADIUS */

  /* border radius */
  /* border-top-right-radius: 3px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 15px; */

  /* Shorthand for border radius */
  /* border-radius: 20px; */

  /* ========== */
  /* PADDING */

  /* padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px; */

  /* Shorthand for padding - All different values */
  /* padding: 5px 10px 15px 20px; */

  /* Shorthand for padding - Same axes (top & bottom) (left & right) values */
  /* padding: 10px 20px; */

  /* Shorthand for all same values */
  padding: 10px;

  /* ============== */
  /* MARGIN */

  /* margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 20px; */

  /* Shorthand for margin - all different values */
  /* margin: 5px 10px 15px 20px; */

  /* Shorthand for margin - same axes values (top & bottom) (left & right) */
  /* margin: 10px 20px; */

  /* Shorthand for margin - all same values */
  margin: 20px;
}

div {
    /* Occupies the whole width of the row */
    /* display: block;  */

    /* Occupies the the width necessary for the content (text) */
    /* Has height and width */
    /* display: inline-block;  */

    /* Occupies the the width necessary for the content (text) */
    /* Doesn't have height or width */
    /* display: inline;  */

    /* height: 500px;
    width: 500px;
    border: 1px solid black; */
}

span {
    /* By default span is an inline element */
    /* display: inline-block; */
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.text-wrapper {
    margin: 10px 0;
    border: 1px solid black;
    /* don't use 100% + margin value for main layout elements */
    /* width: 100%; */
    width: 200px;
    /* 10 margin left + 10 margin right = 20px */
    /* width: calc(100% - 20px); */
    height: 200px;
    overflow: scroll;
}

/* > direct child element */
.text-wrapper > p {
    font-size: 30px;
    width: 300px;

}