/* styles.css */

h1 {
    background-color: red;
    color: #fff;
}

/* Mobile fist approach */
@media screen and (min-width: 600px) {
    h1 {
        width: 400px;
        background-color: rebeccapurple;
        margin: 0 auto;
    }
}

/* Desktop first approach */
@media screen and (max-width: 440px) {
    h1 {
        background-color: aqua;
        color: black;
    }
}


/* Responsive layout example */
.layout-example {
    background-color: lightgray;
    height: 300px;
    margin-top: 40px;
}

/* n-th child selector */
.layout-example > div:nth-child(1) {
    width: 20%;
    background-color: lime;
    height: 100%;
    float: left;
}

.layout-example > div:nth-child(2) {
    width: 40%;
    background-color: orange;
    height: 100%;

    float: left;
}

.layout-example > div:nth-child(3) {
    width: 40%;
    background-color: purple;
    height: 100%;

    float: right;
}

@media screen and (max-width: 780px) {
    .layout-example {
        height: 600px;
    }

    .layout-example > div:nth-child(1) {
        width: 40%;
        height: 50%;
    }

    .layout-example > div:nth-child(2) {
        width: 60%;
        height: 50%;
    }

    .layout-example > div:nth-child(3) {
        width: 100%;
        height: 50%;
        float: none;
        clear: both;
    }   
}

@media screen and (max-width: 400px) {

    .layout-example {
        height: 800px;
    }

    .layout-example > div:nth-child(1) {
        float: none;
        width: 100%;
        height: 50%;
    }

    .layout-example > div:nth-child(2) {
        float: none;
        width: 100%;
        height: 50%;
    }

    .layout-example > div:nth-child(3) {
        height: 50%;
    }  
    
}