html{
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #f3f3f3;
}

img{
    width:30%
}

.left-sidebar, main, .right-sidebar{
    padding: 40px;
}

.left-sidebar{
    flex: 1 1 20%;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 400px;
}

main{
    flex: 1 1 60%;
}

.right-sidebar{
    flex: 1 1 20%;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: black;

}

a:hover{
    background-color: rgba(95, 158, 160, 0.734);
}

li{
    list-style: none;
}


@media screen and (max-width: 780px){
    body{
        flex-direction: column;
    }

    .left-sidebar{
        height: auto;
        order: 1;
    }

    main{
        order: 3;
    }

    .right-sidebar{
        order: 2;
        background-color: bisque;
    }
}