@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* #FB8500 */
/* #023047 */
/* #219EBC */
/* #8ECAE6 */
/* #f5f5f5 */
/* #ff69b4 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

header {
  background-color: #023047;
  color: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav a {
  color: #f5f5f5;
}

.nav a:hover {
  color: #ff69b4;
}

.nav .nav-menu {
  font-size: 2rem;
  display: none;
}

footer {
  text-align: center;
  background-color: #023047;
  color: #ff69b4;
  height: 80px;
  padding-top: 30px;
}

main {
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 800px;
}

/* Aside nav css */

.aside-nav {
  background-color: #219ebc;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.aside-list {
  font-size: 2rem;
}

.aside-link {
  padding: 5px;
  border-bottom: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.aside-link:hover {
  background-color: #ff69b4;
}

/* Product card css */

.content {
  background-color: #8ecae6;
  padding: 30px 20px;
}

.content > h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 2rem;
  font-weight: 400;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  justify-items: center;
}

.product-card {
  max-width: 300px;
  border: 2px solid #023047;
  background-color: #f5f5f5;
  padding: 20px;
  height: 300px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  border-radius: 4px;
}

.product-card .card-body {
  align-self: center;
}

.product-card .card-heading {
  border-bottom: 1px solid #ff69b4;
  padding-bottom: 5px;
}

.product-card .card-footer {
  border-top: 1px solid #ff69b4;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

/* Responsive rules */

@media screen and (max-width: 1500px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: 30% 70%;
  }

  .products-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    row-gap: 30px;
  }
}

@media screen and (max-width: 990px) {
  main {
    grid-template-columns: 20% 80%;
  }
}
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  .products-container {
    grid-template-columns: 1fr;
  }

  .product-card {
    max-width: 350px;
    height: 350px;
  }

  .nav .nav-menu {
    display: inline;
  }

  .nav ul {
    display: none;
  }

  .aside-nav {
    padding: 20px;
  }

  .aside-list {
    display: flex;
    font-size: 1rem;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .brand {
    width: 100%;
    text-align: center;
  }
}
