/* Google fonts @import syntax, must always be at the top of the css file */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}

section {
  font-size: 20px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}
