/* Google fonts @import syntax, must always be at the top of the css file */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}

section {
  font-size: 20px;
}

h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  text-align: center;
  text-shadow: 5px 5px 10px hotpink;
}

h2 {
  font-size: 2.5rem;
  font-style: italic;
}

.transform-paragraph {
  text-transform: uppercase;
}

.decoration-link {
  text-decoration-line: line;
  text-decoration-style: solid;
  text-decoration-color: hotpink;
  text-decoration-thickness: 3px;
}

.line-height-paragraph {
  line-height: 3.5rem;
}

.text-align-paragraph {
  text-align: right;
}

.pseudo-selector-paragraph::first-letter {
  font-size: 4rem;
  background-color: hotpink;
  font-weight: 700;
}
