html, body {
  background-color: #333;
  height: 100%;
  margin: 0;
}

.grid-container {
  position: relative;
  padding: 20px;
  width: 100%;
}

.grid-item {
  position: relative;
  font-size: 25px;
  padding: 20px;
  background-color: #379AD6;
  color: #222;
  border: 1px solid white;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

h3 {
padding-left: 20px;
color: #fff;
}