section{
    background-color: green;
    border: 2px dashed lightblue;
    padding: 20px 50px;
    margin: 60px, 0;
}

span{
    display: inline-block;
    border: 2px solid lightcoral;
}

#relative{
    position: relative;
    left: 50px;
    top: 50px;
}

#absolute-parent{
    position:relative;
    padding: 80px 50px;
}

#absolute{
    position: absolute;
    top: 0;
    right: 0;
}

#fixed{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: lightcyan;
    z-index: 999;
}

article{
    border: 2px dashed lightblue;
    padding: 20px;
}

article h2 {
    position: sticky;
    top: 0;
    background-color: white;
}

#float{
    float: left;
}



