.container {
    display: grid;
    height: 600px;
    width: 600px;
    background-color: aqua;
    gap: 20px;
    /* grid-template-columns: 25% 75%; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}

.child {
    border: 1px solid black;
}

.container-inline {
    display: inline-grid;
    height: 300px;
    width: 300px;
    background-color:antiquewhite;
}

.child1-inline {
    width: 50px;
    /* height: 50px; */
}

.child2-inline {
    width: 200px;
}

.container-repeat {
    height: 300px;
    width: 300px;
    background-color: chartreuse;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container-repeat > div {
    border: 1px solid black;
}
